{% load static %}
<section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title"><i class="bi bi-music-note"></i> Sobre mim <i class="bi bi-music-note-beamed"></i></h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Uma paixão que começou pela rebeldia da adolescência em "customizar" as guitarras dos colegas. </p>
        </div>
      </div>
    </div>
    <div class="container about-container" data-aos="fade-up" data-aos-delay="200">
      <div class="row">

        <div class="col-lg-6 about-img">
          <img src="{% static 'img/about2.jpg' %}" alt="sobre nos">
        </div>

        <div class="col-md-6 about-content">
          <h2 class="about-title">A criatividade é um diferencial</h2>
          <p class="about-text">
            Como um pedaço de madeira pode se tornar um instrumento musical? E como este pode gerar em nós alegria, tristeza, nostalgia, paixão?
            Essa mágica por trás de um acorde me encanta a mais de cinco décadas. Transformo minhas idéias e de meus clientes em peças para um espetáculo único e memorável.
          </p>
          <p class="about-text">
            Ese é um processo totalmente artesanal ao som de um blues no vinil, regado a café e cerveja e muito, mas muito amor. Não me canso de esculpir curvas e cada instrumento é uma criança que nasce.
            Cuido dela com toda atenção até ser apresentada aos seus pais e assim fascinarem o mundo ao seu redor.
          </p>
        </div>
      </div>
    </div>
</section>