{% load static %}
<section id="hero">
    <div class="hero-container">
      <div data-aos="fade-in">
        <div class="hero-logo">
          <img class="" src="{% static 'img/logo2.png' %}" alt="Logo 2">
        </div>
        <h2> <span class="typed" data-typed-items="Arte que gera arte, Guitarras, Violões, Contrabaixos"></span></h2>
        <div class="actions">
          <a href="#about" class="btn-get-started">Sobre mim</a>
          <a href="#services" class="btn-services">Serviços</a>
        </div>
      </div>     
    </div>
</section>