{% extends 'base.html' %}
{% load static %} 
{% block content %}

    <!-- ======= Hero Section ======= -->
        {% include 'hero.html' %}
    <!-- End Hero -->

    <!-- ======= Header ======= -->
        {% include 'header.html' %}
    <!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
        {% include 'about.html' %}
    <!-- End About Section -->

    <!-- ======= Services Section ======= -->
        {% include 'services.html' %}
    <!-- End Services Section -->

    <!-- ======= Subscrbe Section ======= -->
        {% include 'subscribe.html' %}
    <!-- End Subscrbe Section -->

    <!-- ======= Portfolio Section ======= -->
        {% include 'portfolio.html' %}
    <!-- End Portfolio Section -->
    
    <!-- ======= Contact Section ======= -->
        {% include 'contact.html' %}
    <!-- End Contact Section -->

  </main><!-- End #main -->

    <!-- ======= Footer ======= -->
        {% include 'footer.html' %}
    <!-- End Footer -->

{% endblock %}