{% load static %}
<section id="services">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-md-12">
          <h3 class="section-title"><i class="bi bi-magic"></i> Serviços <i class="bi bi-hammer"></i></h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Design, Construção, Customização e Restauração de Instrumentos de Cordas</p>
        </div>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-lightbulb"></i></div>
          <h4 class="service-title"><a href="" onClick="return false;">Design</a></h4>
          <p class="service-description">Parte fundamental para que uma idéia se torne real. Criação de projetos visando a estética seguindo padrões clássicos ou modernos.</p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-diagram-3"></i></i></div>
          <h4 class="service-title"><a href="" onClick="return false;">Construção</a></h4>
          <p class="service-description">Desde as escolhas cuidadosas da madeira, cordas, tarrachas de afinação e captadores, passando pela escultura do corpo e braço até a entrega.</p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-magic"></i></div>
          <h4 class="service-title"><a href="" onClick="return false;">Customização</a></h4>
          <p class="service-description">Tudo se baseia no ANTES e no DEPOIS. Essa metamorfose pode transformar o violão antigo de seu avô em um outro elétrico e estilizado. Pura criatividade.</p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-hammer"></i></div>
          <h4 class="service-title"><a href="" onClick="return false;">Restauração</a></h4>
          <p class="service-description">Este processo é semelhante ao de customização, porém aqui a idéia é manter o instrumento genuinamente original e fazer apenas os ajustes necessários.</p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-cash-coin"></i></div>
          <h4 class="service-title"><a href="" onClick="return false;">Compra de peças</a></h4>
          <p class="service-description">Compra e troca de tarrachas de afinação, pestanas, tensores, encordoamentos diversos, catalizadores, ferramentas, cabos novos e usados. Pagamento à vista.</p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-coin"></i></div>
          <h4 class="service-title"><a href="" onClick="return false;">Venda de peças</a></h4>
          <p class="service-description">Venda de peças e acessórios diversos. Correias personalizadas, jogos de cordas importados, pedaleiras, mochilas e cases de diversos estilos.</p>
        </div>
      </div>
    </div>
</section>