{% load static %}
<section id="subscribe">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Canal do Youtube</h3>
          <p class="subscribe-text">Acompanhe músicos do mundo inteiro que usam os violões e guitarras feitos pelo Ismael. Dê aquele "LIKE"!</p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" href="https://www.youtube.com/watch?v=Us-TVg40ExM" target="_blank">ASSISTIR AGORA</a>
        </div>
      </div>
    </div>
</section>